[package]
edition = "2021"
license = "Apache-2.0"
name = "warpgate-db-entities"
version = "0.18.0"

[dependencies]
bytes = { version = "1.4", default-features = false }
chrono = { version = "0.4", default-features = false, features = ["serde"] }
poem-openapi.workspace = true
sqlx.workspace = true
sea-orm = { workspace = true, features = [
    "macros",
    "with-chrono",
    "with-uuid",
    "with-json",
], default-features = false }
serde.workspace = true
serde_json.workspace = true
uuid = { version = "1.3", features = ["v4", "serde"], default-features = false }
warpgate-common = { version = "*", path = "../warpgate-common", default-features = false }
