[package]
edition = "2021"
license = "Apache-2.0"
name = "warpgate-admin"
version = "0.1.0"

[dependencies]
anyhow = {version = "1.0", features = ["std"]}
async-trait = "0.1"
bytes = "1.1"
chrono = "0.4"
futures = "0.3"
hex = "0.4"
mime_guess = "2.0"
poem = {version = "^1.3.24", features = ["cookie", "session", "anyhow", "rustls"]}
poem-openapi = {version = "^1.3.24", features = ["swagger-ui", "chrono", "uuid", "static-files"]}
russh-keys = {version = "0.22.0-beta.1", features = ["openssl"]}
rust-embed = "6.3"
sea-orm = {version = "^0.6", features = ["sqlx-sqlite", "runtime-tokio-native-tls", "macros"], default-features = false}
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
tokio = {version = "1.17", features = ["tracing"]}
tracing = "0.1"
uuid = {version = "0.8", features = ["v4", "serde"]}
warpgate-common = {version = "*", path = "../warpgate-common"}
warpgate-db-entities = {version = "*", path = "../warpgate-db-entities"}
warpgate-protocol-ssh = {version = "*", path = "../warpgate-protocol-ssh"}
