[package]
edition = "2021"
license = "Apache-2.0"
name = "warpgate-protocol-postgres"
version = "0.10.1"

[dependencies]
warpgate-common = { version = "*", path = "../warpgate-common" }
warpgate-core = { version = "*", path = "../warpgate-core" }
# warpgate-db-entities = { version = "*", path = "../warpgate-db-entities" }
# warpgate-database-protocols = { version = "*", path = "../warpgate-database-protocols" }
anyhow = { version = "1.0", features = ["std"] }
async-trait = "0.1"
tokio = { version = "1.20", features = ["tracing", "signal"] }
tracing = "0.1"
uuid = { version = "1.2" }
bytes = "1.3"
# rand = "0.8"
# sha1 = "0.10.5"
# password-hash = { version = "0.2", features = ["std"] }
rustls = { version = "0.20", features = ["dangerous_configuration"] }
rustls-pemfile = "1.0"
tokio-rustls = "0.23"
thiserror = "1.0"
# webpki = "0.22"
# once_cell = "1.17"
rustls-native-certs = "0.6"
pgwire = { version = "0.23", default-features = false, features = ["server-api"]}
