[package]
edition = "2021"
license = "Apache-2.0"
name = "warpgate-protocol-postgres"
version = "0.14.0"

[dependencies]
warpgate-common = { version = "*", path = "../warpgate-common" }
warpgate-core = { version = "*", path = "../warpgate-core" }
anyhow = { version = "1.0", features = ["std"] }
async-trait = "0.1"
tokio = { version = "1.20", features = ["tracing", "signal"] }
tracing.workspace = true
uuid = { version = "1.2" }
bytes.workspace = true
rustls.workspace = true
rustls-pemfile = "1.0"
tokio-rustls.workspace = true
thiserror = "1.0"
rustls-native-certs = "0.8"
pgwire = { version = "0.25" }
rsasl = { version = "2.1.0", default-features = false, features = ["config_builder", "scram-sha-2", "std", "plain", "provider"] }
futures.workspace = true
