// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

$font-family-os: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


#app {
    display: block;
}

.page-summary-bar {
    display: flex;
    align-items: center;
    margin: 0.25rem 0 1.5rem;

    h1 {
        margin: 0;
    }
}

.alert {
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-width: 2px;
    font-style: italic;
    background: rgba(0,0,0,.25) !important;
    padding: 0.7rem 1rem;
    margin: 1rem 0;
}

footer {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin: 2rem 0 1rem;
    border-top: 1px solid rgba($body-color, .5);
}

input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 50px $input-bg inset;
    -webkit-text-fill-color: $input-color;
}

input:-webkit-autofill:focus {
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 50px $input-focus-bg inset;
    -webkit-text-fill-color: $input-focus-color;
}

.badge {
    font-family: $font-family-os;
}

.page-item.active .page-link {
    text-decoration: underline;
}
