@import "./vars.dark";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$prefix}btn-color: lighten(#{$color}, 50%);
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$active-background};
  --#{$prefix}btn-hover-border-color: #{$active-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}gradient: none;
}

@import "bootstrap/scss/utilities";

@import "theme";

header {
    border-bottom: 1px solid rgba($body-color, .2);
}

.list-group-item-action {
    transition: 0.125s ease-out background;
}

body {
    color-scheme: dark;
}
