@import "bootstrap/scss/functions";

$body-bg: #fffcf6;
$body-color: #555;
$font-family-sans-serif: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link-color: $body-color;
$list-group-bg: transparent;
$alert-border-radius: 0;
$alert-border-scale: -30%;


$blue:    #306F84 !default;
$purple:  #5C398F !default;
$pink:    #B53D6D !default;
$red:     #D35D47 !default;
$orange:  #fd7e14 !default;
$yellow:  #D38F47 !default;
$green:   #87C041 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;


@import "bootstrap/scss/variables";
@import "./vars.common.scss";

$text-muted: $gray-500;
