$pagination-bg: transparent;
$pagination-disabled-bg: transparent;
$pagination-disabled-color: $btn-link-disabled-color;
$pagination-border-width: 0;
$pagination-active-color: $link-hover-color;
$pagination-active-bg: transparent;
$pagination-hover-bg: transparent;
$pagination-focus-bg: transparent;
$modal-header-border-color: transparent;
