$pagination-bg: transparent;
$pagination-disabled-bg: transparent;
$pagination-disabled-color: $btn-link-disabled-color;
$pagination-border-width: 0;
$pagination-active-color: $link-hover-color;
$pagination-active-bg: transparent;
$pagination-hover-bg: transparent;
$pagination-focus-bg: transparent;
$modal-header-border-color: transparent;
$dropdown-link-hover-bg: transparent;

$btn-padding-x: 1.5rem;

$btn-bg-shade-amount: 75%;
$btn-bg-tint-amount: 60%;
$btn-border-shade-amount: 75%;
$btn-border-tint-amount: 65%;
$btn-color-shade-amount: 10%;
$btn-color-tint-amount: 50%;

$btn-hover-bg-shade-amount: 60%;
$btn-hover-bg-tint-amount: 50%;
$btn-hover-border-shade-amount: 60%;
$btn-hover-border-tint-amount: 10%;

$btn-active-bg-shade-amount: 50%;
// $btn-active-bg-tint-amount
$btn-active-border-shade-amount: 40%;
// $btn-active-border-tint-amount

$tooltip-color: #c1c9e4;

$badge-font-size: .8em;
$badge-font-weight: 400;
$badge-padding-y: .55em;
$badge-padding-x: .85em;

$alert-border-width: 0;
$alert-border-scale: -30%;
