name: Test

on: [push, pull_request]

permissions:
  contents: read

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          submodules: recursive

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
        with:
          key: "test"

      - name: Install build deps
        run: |
          sudo apt-get install openssh-client expect
          cargo install just
          cargo install cargo-llvm-cov
          cargo clean
          rustup component add llvm-tools-preview

      - name: Build UI
        run: |
          just npm ci
          just openapi
          just npm run openapi:tests-sdk
          just npm run build

      - name: Build images
        working-directory: tests
        run: |
          make all

      - name: Install deps
        working-directory: tests
        run: |
          sudo apt update
          sudo apt install -y gnome-keyring
          pip3 install keyring==24 poetry==1.8.3
          poetry install

      - name: Run
        working-directory: tests
        run: |
          TIMEOUT=120 poetry run ./run.sh
          cargo llvm-cov report --lcov > coverage.lcov

      - name: Upload coverage
        uses: actions/upload-artifact@2848b2cda0e5190984587ec6bb1f36730ca78d50
        with:
          name: coverage.lcov
          path: tests/coverage.lcov

      - name: Upload coverage (HTML)
        uses: actions/upload-artifact@2848b2cda0e5190984587ec6bb1f36730ca78d50
        with:
          name: coverage-html
          path: target/llvm-cov/html

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        if: ${{ env.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
